node_modules/
dist/
ytInitialPlayerResponse.json
test.html
todo.md
Notes.md
.env.prod
.env.staging
.env
*.zip
session*
coverage/
code_review/
.release/

new_instance.sh
www.youtube.com_cookies.txt

# Testing yt-dlp results
temp.json
test.js
test.mjs
ytdlp_output_example.json
ytdlpResponse.json
